@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=New+Amsterdam&family=Noto+Sans+Hanunoo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}
.container{
    position: relative;
    background-color: #fff;
    background-image: url("https://img.freepik.com/vetores-premium/projeto-abstrato-preto-em-cores-monocromaticas-textura-de-listras-premium_93325-1750.jpg?w=740");
    background-size: cover;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 48px;
}
h5{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
}
header .chip{
    width: 60px;
}
h6{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}
h5 .number{
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}
h5 .name{
    margin-top: 20px;
}
.container .card-details{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
